@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --primary-color: #6300b3;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

.navigation ul li {
  font-family: "Poppins", sans-serif;
}

.navigation ul li .active-link {
  color: var(--primary-color);
}

.cta button {
  padding: 10px 20px;
  border-radius: 5px;
}

.cta button:first-child {
  color: var(--primary-color);
  background: #fff;
  border: 1px solid var(--primary-color);
}

.cta button:last-child {
  color: #fff;
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
}
